<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012228608212-svjep7kufuvkb4ngm9ctk2p9e44ms15a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012228608212-svjep7kufuvkb4ngm9ctk2p9e44ms15a</string>
	<key>API_KEY</key>
	<string>AIzaSyAAvgvsaetHISMnewPkwDWcX8gv8ZgvTLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1012228608212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.product.ZenYoga</string>
	<key>PROJECT_ID</key>
	<string>zenyoga-8cc79</string>
	<key>STORAGE_BUCKET</key>
	<string>zenyoga-8cc79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012228608212:ios:4dac96c952fcf27cc5ab41</string>
	<key>DATABASE_URL</key>
	<string>https://zenyoga-8cc79-default-rtdb.firebaseio.com</string>
</dict>
</plist>